/.idea
*.log
*.cache
*.cache.write
*.ini

proton-data/*
!/proton-data/drive_c

proton-data/drive_c/*
!/proton-data/drive_c/users

proton-data/drive_c/users/steamuser/Temp

############
# Temporary
############
/proton-data-old
/users